[submodule "RocaTests"]
	path = RocaTests
	url = git@gitlab.com:MelefoCorp/RocaBot/RocaTests.git
[submodule "RocaCore"]
	path = RocaCore
	url = git@gitlab.com:MelefoCorp/RocaBot/RocaCore.git
[submodule "RocaBot"]
	path = RocaBot
	url = git@gitlab.com:MelefoCorp/RocaBot/RocaBot.git
[submodule "RocaApi"]
	path = RocaApi
	url = git@gitlab.com:MelefoCorp/RocaBot/RocaApi.git
